*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:#eef2ff;

}

.admin-login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2563EB,#06B6D4);

}

.admin-login-card{

width:400px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.2);

display:flex;

flex-direction:column;

gap:20px;

}

.admin-login-card h1{

text-align:center;

color:#2563EB;

margin-bottom:10px;

}

.admin-login-card input{

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:16px;

outline:none;

}

.admin-login-card input:focus{

border:2px solid #2563EB;

}

.admin-login-card button{

padding:14px;

background:#2563EB;

color:white;

border:none;

border-radius:8px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.admin-login-card button:hover{

background:#1D4ED8;

transform:scale(1.03);

}