.checkout-container{

    width:80%;

    margin:40px auto;

    padding:30px;

    background:white;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.15);

}



.checkout-container h1{

    text-align:center;

    color:#6c5ce7;

    margin-bottom:25px;

}




.checkout-container input,
.checkout-container textarea{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:15px;

}



.checkout-container textarea{

    height:100px;

    resize:none;

}



.checkout-container input:focus,
.checkout-container textarea:focus{

    outline:none;

    border-color:#6c5ce7;

}





.error{

    color:red;

    font-size:14px;

    margin:0;

}





.checkout-product{

    display:flex;

    gap:20px;

    align-items:center;

    border-bottom:1px solid #ddd;

    padding:15px;

}



.checkout-product img{

    width:90px;

    height:90px;

    object-fit:contain;

}





.checkout-container h2{

    color:green;

}





.checkout-container button{

    width:200px;

    padding:12px;

    margin-top:20px;

    background:#ff9900;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

}



.checkout-container button:hover{

    background:#e68a00;

}



@media(max-width:600px){


.checkout-container{

    width:90%;

}


.checkout-product{

    flex-direction:column;

    text-align:center;

}


}