.orders-container{

width:85%;

margin:40px auto;

}


.orders-container h1{

text-align:center;

color:#6c5ce7;

margin-bottom:30px;

}



.empty{

text-align:center;

color:gray;

}





.order-card{


background:white;

padding:25px;

margin-bottom:30px;

border-radius:18px;

box-shadow:0 8px 25px rgba(0,0,0,0.15);

transition:0.3s;


}



.order-card:hover{

transform:translateY(-5px);

box-shadow:0 12px 30px rgba(108,92,231,0.3);

}



.order-card h2{

color:#4834d4;

}



.order-card h3{

color:#e17055;

border-bottom:1px solid #ddd;

padding-bottom:8px;

}




.status{


background:#00b894;

color:white;

padding:5px 12px;

border-radius:20px;

margin-left:8px;

}





.customer-box{


background:#f8f9fa;

padding:15px;

border-radius:12px;

margin:20px 0;


}





.order-products{


display:flex;

flex-wrap:wrap;

gap:20px;


}



.order-product{


width:250px;

display:flex;

gap:15px;

align-items:center;

background:#fff;

border:1px solid #ddd;

padding:15px;

border-radius:12px;


}



.order-product img{


width:80px;

height:80px;

object-fit:contain;


}




.order-product h4{

margin:0;

color:#2d3436;

}



.order-product p{

margin:5px;

color:#636e72;

}




@media(max-width:600px){


.orders-container{

width:90%;

}



.order-product{

width:100%;

}


}


